.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  padding: 40px;
  border-radius: 8px;
  width: 40%;
  max-width: 350px;
}

.website-logo {
  margin-bottom: 20px;
  width: 60%;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  color: #f8fafc;
  font-size: 12px;
  font-family: 'Roboto';
  line-height: 16px;
  margin-bottom: 6px;
}

.input-field {
  color: #b6c5ff;
  font-size: 14px;
  border-radius: 2px;
  line-height: 1.3;
  height: 30px;
  background-color: transparent;
  border: 1px solid #64748b;
  padding: 4px 8px;
  outline: none;
}

.login-button {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  height: 30px;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  font-family: 'Roboto';
  background-color: #6366f1;
  margin-top: 26px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-msg {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
